@media only screen and (min-width: 992px) and (max-width: 1199px) {
.first-news-single .image {
	width: 100%;
}
.first-news-single .first-content {
	width: 100%;
	display: block;

}

}

@media (min-width: 992px) {
    .news_title_h1{
        max-width: 900px;
    }
}
@media (max-width: 991px) {
.top-logo a img {
	max-width: 140px;
	width: 100%;
	height: auto;
	display: none;
}
.mobile-bar-logo {
	float: left;
	margin-right: 10px;
}
.top-address ul {
	justify-content: start;
}
.first-news-single .image {
	width: 100%;
}
.first-news-single .first-content {
	width: 100%;
}
.d-fox {
	display: none;
}
.first-snd-single {
	margin-bottom: 14px;
}
h3 a {
	min-height: 40px;
}
.container {
	max-width: 720px;
}
.first-news-single .first-content {
	width: 100%;
	display: block;
}
.wrapper {
	 max-width:100%;
	width: 100%;

}

}




@media (max-width:767px) {
.top-logo {
		display: none;
}
.top-social ul li a {
	width: 31px;
	height: 31px;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	line-height: 33px;
	font-size: 13px;
}
.right-content-widget {
	margin-top: 10px;
}
.pb-40 {
	padding-bottom: 20px;
}
.pt-40 {
	padding-top: 20px;
}
h3 a {
	min-height: 41px;
}
.footer-address {
	text-align: center;
}
    .page-detail-infor h1{
        font-size: 35px;
    }


}



@media (max-width:570px) {
	.top-social {
	display: none;
}
.top-address ul {
	justify-content: center;
}
.news-item-col {
	display: flex;
	width: 50%;
}
.news-item .news-content h3 a {
	font-size: 14px;
	min-height: 91px;
}
.ft-top-left {
	text-align: center;
}
.ft-top-right p {
	text-align: center;
	margin-top: 10px;
}
    .page-detail-infor h1{
        font-size: 25px;
    }

}

@media (max-width:470px) {
	.news-item-col {
		display: block;
		width: 100%;
	}
	.footer-link {
		text-align: center;
	}
	.footer-link ul li {
		padding: 0 5px;
		display: inline-block;
	}
	.footer-description {
		margin-top: 30px;
		margin-bottom: 24px;
		text-align: center;
	}
    .page-detail-infor h1{
        font-size: 25px;
    }

}
